:root {
    --primary-font: 'Roboto', sans-serif;
    --background-image: url("./img/background.jpg");
    --grid-background: #1a1a1a;
    --grid-border: #6b6b6b;
    --primary-text: #f5f5f5;
    --secondary-text: #751916;
    --primary-dark-text: #7f0000;
    --container-background: rgba(0, 0, 0, 0.7);
}


@font-face {
    font-family: "theme-halloween-font";
    src: url("./fonts/creepster.regular.ttf");
}

body {
    margin: 0;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bitset {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    padding: 5px;
    background-color: var(--primary-text);
    border-radius: 10px;
    margin: 5px;
    gap: 5px;
    justify-content: center;
    align-content: center;
    width: max-content;
}

.bit {
    width: 150px;
    height: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    background-color: var(--secondary-background, #333);
    border-radius: 5px;
    transition: background-color 0.3s;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bit.active {
    z-index: 1;
    opacity: 0.9;
    font-size: 80px;
    transition: ease-in .08s;
}

.bingo-win {
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 50px;
}

.bingo-answer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: auto;
    background-color: var(--container-background);
    color: white;
    border-radius: 8px;
}

.bingo-answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 3;
    max-width: 50vw;
}

.bingo-answer-child {
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    color: white;
    background-color: var(--secondary-text);
    border-radius: 8px;
}

.bingo-container>h1.gentle-tilt-move-shake {
    color: var(--secondary-text);
    letter-spacing: 4px;
    text-shadow: -3px 3px 0 var(--primary-text), 3px 3px 0 var(--primary-text), 3px -3px 0 var(--primary-text), -3px -3px 0 var(--primary-text);
    animation: tilt-n-move-shaking 0.25s infinite;
}

svg {
    transition: transform .5s ease-in-out;
}

svg:hover {
    transform: rotate(360deg);
}

.reset-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 30px;
    padding: 15px;
    background-color: #751916;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px
}

/* Media queries */
@media only screen and (max-width: 800px) {
    section {
        width: 100vw;
    }

    .bingo-title>h1 {
        font-size: 7vw;
    }
}

@media only screen and (max-width: 700px) {
    .checked {
        font-size: 80px;
    }
}

@media only screen and (max-width: 500px) {
    .grid-item {
        font-size: 20px;
    }

    .checked {
        font-size: 70px;
    }
}

@media only screen and (max-width: 380px) {
    .checked {
        font-size: 50px;
    }
}

/* Keyframes */
@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

html {
    --background-image: none;
    --primary-font: 'Roboto', sans-serif;
    --primary-text: #2b3d49;
    --primary-dark-text: #751916;
    --secondary-text: #2b3d49;
    --container-background: #dfd1c5;
    --grid-background: #efefef;
    --grid-text: var(--primary-dark-text);
    --grid-border: var(--primary-dark-text);
}

html[data-theme="halloween"] {
    --background-image: url("./images/background_halloween.jpg");
    --primary-font: "theme-halloween-font";
    --primary-text: #ff5722;
    --primary-dark-text: #4b2c20;
    --secondary-text: #ffd700;
    --grid-background: #2f4f4f;
    --container-background: #191970;
    --grid-text: var(--primary-dark-text);
    --grid-border: var(--primary-dark-text);
}

html[data-theme="christmas"] {
    --background-image: url("./images/background_christmas.jpg");
    --primary-text: #ffffff;
    --primary-font: "theme-christmas-font";
    --primary-dark-text: #c62828;
    --secondary-text: #4caf50;
    --container-background: #0d47a1;
    --grid-background: #c62828;
    --grid-text: #4caf50;
    --grid-border: #1b531c;
}

.bit-row {
    margin-bottom: 10px;
}

.binary-string {
    font-weight: bold;
    margin-bottom: 5px;
}

.bits-labels {
    font-family: monospace;
    /* Use a monospace font for bits */
}

.bitpiece {
    padding: 0 2px;
    /* Space between bits */
    font-size: 16px;
    /* Increase size for clarity */
}

.bitpiece:hover {
    background-color: #e0e0e0;
    /* Highlight on hover */
    cursor: pointer;
    /* Pointer cursor on hover */
}